<article>
  <div>
      <h3>{{title}}</a></h3>
      <span>({{post_url}})</span>
  </div>
  <div>
    {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>